@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --almostBlack: hsl(0, 0%, 8%);
    --mediumGray: hsl(0, 0%, 41%);
    --almostWhite: hsl(0, 0%, 98%);
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue';
    text-decoration: none;
    color: var(--mediumGray);
}

/* Navbar Start */

.navbar-wrapper .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

.navbar-wrapper .navbar-container .navbar-items {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar-wrapper .navbar-container .navbar-items h1 {
    font-size: 35px;
    color: var(--almostBlack);
    padding-right: 2rem;
    cursor: default;
}

.navbar-wrapper .navbar-container .navbar-items .navbar-links {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.navbar-wrapper .navbar-container .navbar-links button {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    font-weight: 500;
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: ease 0.5s;
}

.navbar-wrapper .navbar-container .navbar-links button:hover {
    color: var(--almostBlack);
}

.navbar-wrapper .navbar-container .navbar-links a {
    font-size: 13px;
    font-weight: 500;
    padding: 10px;
    transition: ease 0.5s;
}

.navbar-wrapper .navbar-container .navbar-links a:hover {
    color: var(--almostBlack);
}

.navbar-wrapper .navbar-container .navbar-button {
    display: flex;
    gap: 1.5rem;
}

.navbar-wrapper .navbar-container .navbar-button a {
    font-size: 13px;
    font-weight: 500;
    padding: 10px 18px;
    transition: ease 0.5s;
}

.navbar-wrapper .navbar-container .navbar-button a:hover {
    color: var(--almostBlack);
}

.navbar-wrapper .navbar-container .navbar-button .registerButton {
    border: 1px solid var(--mediumGray);
    border-radius: 10px;
    transition: ease 0.5s;
}

.navbar-wrapper .navbar-container .navbar-button .registerButton:hover {
    border: 1px solid var(--almostBlack);
}

.navbar-wrapper .navbar-container .navbar-items .navbar-links .button-wrapper-1 {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
}

.navbar-wrapper .navbar-container .navbar-items .navbar-links .button-wrapper-1 .Features-dropdown svg {
    transition: ease 0.5s;
}

.navbar-wrapper .navbar-container .navbar-items .navbar-links .button-wrapper-1 .Features-dropdown.active svg {
    transform: rotate(-180deg)
}

.navbar-wrapper .navbar-container .navbar-items .navbar-links .button-wrapper-1 .dropdown-menu {
    border-radius: 8px;
    box-shadow: 0px 0px 15px var(--mediumGray);
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    top: 60px;
    padding: 15px 20px;
    visibility: hidden;
    opacity: 0;
    animation-name: fadeOut;
    animation-duration: 0.5s;
}

.navbar-wrapper .navbar-container .navbar-items .navbar-links .button-wrapper-1 .dropdown-menu.active {
    visibility: visible;
    opacity: 1;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

.navbar-wrapper .navbar-container .navbar-items .navbar-links .button-wrapper-1 .dropdown-menu .dropdown-items {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    padding: 0px 10px;
}

.navbar-wrapper .navbar-container .navbar-items .navbar-links .button-wrapper-1 .dropdown-menu .dropdown-items a {
    font-size: 13px;
}

.navbar-wrapper .navbar-container .navbar-items .navbar-links .button-wrapper-2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}

.navbar-wrapper .navbar-container .navbar-items .navbar-links .button-wrapper-2 .company-dropdown svg {
    transition: ease 0.5s;
}

.navbar-wrapper .navbar-container .navbar-items .navbar-links .button-wrapper-2 .company-dropdown.active svg {
    transform: rotate(-180deg)
}

.navbar-wrapper .navbar-container .navbar-items .navbar-links .button-wrapper-2 .dropdown-menu-1 {
    border-radius: 8px;
    box-shadow: 0px 0px 15px var(--mediumGray);
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    top: 60px;
    padding: 15px 25px;
    visibility: hidden;
    opacity: 0;
    animation-name: fadeOut;
    animation-duration: 0.5s;
}

.navbar-wrapper .navbar-container .navbar-items .navbar-links .button-wrapper-2 .dropdown-menu-1.active {
    visibility: visible;
    opacity: 1;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

/* Hero Section */

.hero-container {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 25rem;
    padding: 25px;
}

.hero-container .main-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3rem;
}

.hero-container .main-content h1 {
    font-size: 5rem;
    color: var(--almostBlack);
    cursor: default;
}

.hero-container .main-content p {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5rem;
    cursor: default;
}

.hero-container .main-content a {
    font-size: 15px;
    font-weight: 500;
    border-radius: 15px;
    background-color: var(--almostBlack);
    border: 1px solid var(--almostBlack);
    color: var(--almostWhite);
    padding: 15px 25px;
    font-weight: 700;
    transition: ease 0.5s;
}

.hero-container .main-content a:hover {
    color: var(--almostBlack);
    background-color: var(--almostWhite);
    border: 1px solid var(--almostBlack);
}

.hero-container .main-content .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 6.5rem;
}

.hero-container .hero-img img {
    height: 45rem;
    object-fit: contain;
}

/* Animation */
@keyframes fadeIn {
    from {top: 40px; opacity: 0;}
    to {top: 60px; opacity: 1;}
}

@keyframes fadeOut {
    from {top: 60px; opacity: 1;}
    to {top: 40px; opacity: 0;}
}